.page--home {
	background: #fff;

	.bg {
		background: url('../../data/img/home-placeholder.jpg') no-repeat center center;
		position: fixed;
		width: 100%;
		height: 650px;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.parallex-overflow {
		background: white;
		margin-top: 540px;
	}

	#intro-text {
		margin-top: -220px;
		position: relative;
		background: $colorMain;
		padding: 0 0 40px;
	}

	#quote {
		background: url(../../data/img/parallex-placeholder.png) no-repeat center center fixed;
		display: flex;
		align-items: center;
		height: 300px;
		position: relative;
		width: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	#news-preview {
		background-color: $colorGreyTint;

	}
}