.page--home {
	background: #fff;

	.bg {
		background: url('../../data/img/home-placeholder.jpg') no-repeat center center;
		position: fixed;
		width: 100%;
		height: 650px;
		top:0;
		left:0;
		z-index: -1;
	}

	.parallex-overflow {
		background: white;
		margin-top: 540px;
	}

	#intro-text {
		margin-top:-220px;
		position:relative;
		background: $colorMain;
	}
}