/**
 * Position X,Y,Z (Fallback Top, Left IE)
 * @param {number} $x - X Position
 * @param {number} $y - Y Position
 * @param {number} $z - Z Position
 */
@mixin position($x:0, $y:0, $z:0) {
	position: absolute;
	left: 0;
	top: 0;

	@include translate3d($x, $y, $z);

	.oldie & {
		left: $x * 1px;
		top: $y * 1px;
	}
}

/**
 * Offset
 * @param {number} $top (0) - Top Offset
 * @param {number} $left (0) - Left Offset
 */
@mixin offset($x: 0, $y: 0) {
	top: $y;
	left: $x;
}