// Headings
.heading-01 {
	// add your headings
}

.heading-02 {
	font-family: $fontHeadings;
	color: #fff;
	font-size: 25px;
	padding-top: 60px;
	margin: 0;

	&.dark {
		color: $colorFontDark;
	}
}

.heading-03 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: $fontCopy;
}

.heading-04 {
	font-family: $fontFeature;
	margin: 0;
	padding: 0;
	font-size: 65px;
	color: $colorWhite;
	text-align: center;
}

.heading-05 {
	font-family: $fontHeadings;
	font-size: 15px;
	color: $colorFontDark;
	text-transform: uppercase;
}

// Paragraphs
.copy-01 {
	font-size: 15px;
	font-family: $fontCopy;
	color: $colorFontLightDark;

	&.large-line-height {
		line-height: 30px;
	}

	&.light {
		color: $colorWhite;
	}

	&.bold {
		font-weight: bolder;
	}
}

.copy-02 {
	font-size: 14px;
	font-family: $fontCopy;
	color: $colorWhite;
	line-height: 24px;

	&.bold {
		font-weight: bolder;
	}
}

.copy-03 {
	font-size: 15px;
	font-family: $fontCopy;
	color: $colorFontDark;
}

a {
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}

	&:active {
		text-decoration: none;
		color: inherit;
	}
}
