.thumbnail {
	padding: 0;
	border: none;
	background-image: url("../../data/img/comic-placeholder.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	@include aspect-ratio(290px);
	overflow: hidden;

	.thumbnail-overlay {
		background: red;
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		left: 0;
	}
}

.thumbnail-small {
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 150px;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;

	&:hover {
		background-size: 150% 150%;
		background-position: center center;
	}
}

.image-thumbnail {
}

.caption {
	padding: 0;
}