// Source Paths
$pathFont: '../font/';
$pathImage: '../image/';

// Sprite Images
$spriteDefault: 'sprite-default.png';

// Fonts
$fontArial: Arial, sans-serif;
$fontHeadings: komika_axis;
$fontCopy: opensans;
$fontMenu: montserrat;
$fontFeature: fishfingers;

// Breakpoint sizes
$breakpoints: (
	'x-small': '(max-width: 479px)',
	'small': '(max-width: 767px)',
	'medium': '(max-width: 1024px)',
	'large': '(min-width: 1025px)',
	'short': '(max-height: 400px)'
);

// Colors
$colorWhite: #fff;
$colorMain: #40948B;
$colorTint: #343434;
$colorFontDark: #363735;
$colorFontLightDark: #9B9B9B;


// Z-indexes
$layout: default;